div {
    margin: 20px;
    border: 2px solid red;
    padding: 40px;
    background-color: gray;
    color: white;
}

p {
    font-size: larger;
    color: green;
    text-align: center;
    font-weight: bold;
}

.vertical {
    height: 250px;
    width: 2px;
}

.relative {
    padding: 20px;
    border: 3px dotted yellow;
    background-color: lightcyan;
    position: relative;
    color: royalblue;
}

.alterado {
    top: 10px;
    left: 10px;
}

.absolute {
    height: 10px;
    width: 140px;
    border: 1px solid blue;
    background-color: blueviolet;
    position: absolute;
    top: 20px;
    right:20px;   
}

.fixed {
    background-color: lightpink;
    color:black;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 50px;
}

.sticky {
    background-color:peru;
    color:brown;
    text-align: center;
    position: sticky;
    top: 0px;
    left: 150px;
}